* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body { 
    scroll-behavior: smooth;
}

.section { 
    padding: 50px; 
    text-align: center; 
}
        
.hero { 
    background: radial-gradient(circle, #4a5a9e, #0a0e2e) ; 
    color: white; 
    padding: 100px 20px;
    font-size: 2em; 
}
        
.zweispalten { 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}
        
.zweispalten div {
     width: 45%; 
}      

img { 
    width: 500px; 
    height: 300px; 
    object-fit: cover; 
}
        
.bild-hintergrund {  
    background-image: url("5294e6d0-53ed-4a4a-a350-7eaeab72ac93.avif");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}
        
.text-overlay { 
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #2a3a5a; 
    background: radial-gradient(circle, #3a4a7ac9, #1a2a4ac1, rgba(10, 14, 46, 0.738)); 
    backdrop-filter: blur(15px);
    padding: 50px;
    font-size: 1.5em;
}
        
.drei-spalten { 
    display: flex; 
    justify-content: space-between; 
    background: linear-gradient(to bottom, #1a1a2e, #16213e);  
    padding: 50px; 
}
        
.drei-spalten div { 
    width: 30%; 
    background: #0f3460; 
    padding: 20px; 
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3); 
}
        

.big-text { 
    font-size: 2em; 
    color: white; 
    background-color: #020518;
    text-align: center;
    padding: 50px; 
}
        
.kontakt { 
    background: #020518; 
    color: white; 
    padding: 50px; 
}
